
extends layout/index
block speakerslist
  include includes/speakerslist
block content
  #home.container
    .row
      .col-sm-8
        .maincontent
          article.article
            h1.article-title Who are we?
            p
              | A warm welcome to all fellow Tamilians and Tamil enthusiasts! As products of a strong culture and one of the oldest languages in the world, this group embraces our mutual love for the Tamil language. The aim of this group is to network and socialize with others and give back to our Tamil community. The theme of this group is casual with members ranging from ~ 20 to 35 years of age. Meetups will occur monthly at a minimum though more Meetups may occur based on demand/occasion.
            p
              | >> Who can join? <<
            p
              | Anyone with an interest for the Tamil language and culture. Do not worry if you are not fluent in the language or if you don't understand it, we will always foster a welcoming environment for all as this group is inclusive of everyone. To ensure all members feels comfortable, I want to emphasize this is not a singles group.
            p
              | >> What kind of events can I expect when I join? <<
            p
              | As a social group, events range anywhere from outdoor, seasonal activities to annual festive celebrations. I aim to provide a wide range of events and experiences that everyone can participate in and enjoy.
            p
              | >> I have an idea for an event! <<
            p
              | I want to hear it! If you are interested in hosting an event or you merely want to contribute an idea for a future Meetup, reach out to me and let's start collaborating!
            p
              | >> I want to be more involved with Young Tamils! <<
            p
              | Awesome, I love the enthusiasm! Shoot me a message and let's try to find a role within Young Tamils that would be the perfect fit for you.
            p
              | >> How can I stay in touch with Young Tamils members? <<
            p
              | Often times at events, we make new friends and maintaining those friendships is an important part of the Young Tamils mission. As a result (and per demand), I have created a WhatsApp group. If you would like to join, send me a quick introduction about yourself and your number and I will add you.
            p
              | ** Currently, I am seeking Tamil charities/causes in the motherland that we can raise money towards. If you have any suggestions, I would love to hear from you. **
          // article
          article.article
            h1.article-title Get Busy!
            p
              | If you want to keep up with what's going on with the group,
              a(href='http://www.meetup.com/Tamil_Speaker_Meetups') join our meetup group
              | ,
              a(href='http://www.twitter.com/Tamil_Speaker_Meetups') follow us on twitter
              | . If you're in FaceBook, youfull-stact-developer'
              a(href='http://www.facebook.com/Tamil_Speaker_Meetups') join our FaceBook group
              | .
      // primary
      include includes/sidebar 

        