extends ../layout/index
block content
    #speakerList.container
      .row
        .col-sm-8
            article.speakerslist
            .container
                .row
                .col-sm-8
                    h3.speakerslist-title React.js
                    h5.speakerslist-name
                    | with 
                    a(href='/speakers/Ambika') Ambika Raj
                    p.speakerslist-info
                    a(href='/speakers/Ambika')
                        img.speakerslist-img.img-circle.pull-left(src='./images/speakers/Ambika.jpg', alt='Photo of Ambika', width='200px', height='200px')
                    p
                        |   ReactJS is JavaScript library used for building reusable UI components.
                        |   React is a library for building composable user interfaces. It encourages the creation of reusable UI components, which present data that changes over time. Lots of people use React as the V in MVC. React abstracts away the DOM from you, offering a simpler programming model and better performance. React can also render on the server using Node, and it can power native apps using React Native. React implements one-way reactive data flow, which reduces the boilerplate and is easier to reason about than traditional data binding.
                .col-sm-8
                    h3.speakerslist-title Node.js
                    h5.speakerslist-name
                    | with 
                    a(href='./Rajesh.html') Rajesh Kumar
                    p.speakerslist-info
                    a(href='./Rajesh.html')
                        img.speakerslist-img.img-circle.pull-left(src='./images/speakers/Rajesh.jpg', alt='Photo of Rajesh', width='200px', height='200px')
                    p
                        |   Node.js is a platform built on Chrome's JavaScript runtime for easily building fast and scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.
                .col-sm-8
                    h3.speakerslist-title Angular.js
                    h5.speakerslist-name
                    | with 
                    a(href='/speakers/Turiya') Turiya Kumar
                    p.speakerslist-info
                    a(href='/speakers/Turiya')
                        img.speakerslist-img.img-circle.pull-left(src='./images/speakers/Turiya.jpg', alt='Photo of Turiya', width='200px', height='200px')
                    p
                        |   AngularJS is an open-source web application framework. It was originally developed in 2009 by Misko Hevery and Adam Abrons. It is now maintained by Google. Its latest version is 1.2.21.
                        |   AngularJS is a structural framework for dynamic web applications. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application components clearly and succinctly. Its data binding and dependency injection eliminate much of the code you currently have to write. And it all happens within the browser, making it an ideal partner with any server technology.
        include ../includes/sidebar