if gallery && gallery.length      
  aside.col-sm-4
    article.sidebar
      h1.sidebar-title Who should come?
      ul.sidebar-body
        li Anybody interested to improve tamil speaking skills
        li who has well speaking skill in tamil, who wants to learn tamil
        li
          | Those interested in meeting and making a connection with others in the local.
    // article
    article.sidebar
      h1.sidebar-title Gallery
      .pixgrid.clearfix
        each image in gallery
          img(src=`/images/gallery/${image}`, alt=`${image}`, width='300px', height='100px')
      