article.speakerslist.jumbotron.hidden-xs
  .container
    .row
      .col-sm-4.text-center
        h3.speakerslist-title React.js
        h5.speakerslist-name
          | with 
          a(href='/speakers/Ambika') Ambika
        p.speakerslist-info
          a(href='/speakers/Ambika')
            img.speakerslist-img.img-circle(src='/images/speakers/Ambika.jpg', alt='Photo of Ambika', width='300px', height='300px')
      .col-sm-4.text-center
        h3.speakerslist-title Node.js
        h5.speakerslist-name
          | with 
          a(href='./Rajesh.html') Rajesh Kumar
        p.speakerslist-info
          a(href='./Rajesh.html')
            img.speakerslist-img.img-circle(src='/images/speakers/Rajesh.jpg', alt='Photo of Rajesh',width='300px', height='300px')
      .col-sm-4.text-center
        h3.speakerslist-title Angular.js
        h5.speakerslist-name
          | with 
          a(href='/speakers/Bharathi_Baskar') Bharathi Baskar
        p.speakerslist-info
          a(href='/speakers/Bharathi_Baskar')
            img.speakerslist-img.img-circle(src='/images/speakers/Turiya.jpg', alt='Photo of Bharathi_Baskar', width='300px', height='300px')
    // row
    // container